
<div class="">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class='container-fluid py-5 d-flex align-items-center'>
      <img id='profile-page-pic' src='/images/icons/account.png' class='object-fit-contain' alt='account_circle' />
      <div class="p-5">
        <h1 class='display-5 fw-bold'>{{userProfile.name.givenName}}</h1>
        <p class='col-md-8 fs-4'>{{userProfile.emails.0.value}}</p>
        <p>12k Subscribers</p></div>
    </div>
    <div>
      <button class="btn btn-secondary btn" type="button">Settings</button>

      {{> uploadVideo }}
    </div>
  </div>

  <div class="horizontal-video-list">
      <h3>My Videos</h3>
    <div class="profile-videos-list">

  <!-- a video starts -->
  {{#each videos}}
    <div class="video">
      <div class="thumbnail">
       <a href="/watch/{{_id}}"> 
         <video  width="270"  width="100" >
       <!--   <source src="{{url}}" type="video/mp4"> -->
    
        <img id="thumbnail" url="{{url}}"> 
        </video>
       
       </a>
      </div>

      <div class="details">
        <div class="author">
          <img
            src="../../images/icons/account.png"
            alt="" />
        </div>
        <div class="title">   <h3> {{title}}   </h3>
          <a href=""> {{author}} </a>
          <span> {{views}} Views • 3 {{createdAt}} </span>
        </div>
      </div>
  </div>
  {{/each}}
</div>

  </div>

</div>

<script>

  const form = document.getElementById('upload-video') 
  const closedModal = document.getElementById('close-upload-modal') 
  form.onsubmit = (e) => {
    e.preventDefault() 
    closedModal.onclick = (e) => { 
      form.submit() 
    } 
  }
</script>