
<div userId={{currentUser._id}} profileId="{{userProfile._id}}" class='dashboard-container'>
  {{#with userProfile}}
  <div class='dashboard anim' style='--delay: .1s; background-image: url({{bannerImage}}); opacity: 0.4;' >

    <div class='dashboard_author'>
      <div class='author-info__wrapper'>
        <div class="author-img__wrapper">
          <svg
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='3'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='feather feather-check'
        >
          <path d='M20 6L9 17l-5-5'></path>
        </svg>
        <img class='author-img' src='{{profilePic}}' />
        </div>
      <div class='author-detail' >

        <div class='author-name'  >  
            <button class="like green" subBtn >Subscribed</button>                  
         
        <h5> {{channelName}} </h5>
        </div>
        <div class='author-info'>{{subscribers.length}}
          subscribers
        </div>  
      </div>
        <div class="dashboard-description">{{description}}</div>
      </div>
      <div class='dashboard_social-links'  >
        <a sendMessage type="button" class="btn btn-primary" href="/messages/{{_id}}">Send Message</a>

        <a href='{{socialLinks.instagram}}' style="cursor:pointer;">
          <img src='../../images/png/instagram_c.png' />
        </a>
        <a href='{{socialLinks.facebook}}' style="cursor:pointer;">
          <img src='../../images/png/facebook_c.png' />
        </a>
        <a href='{{socialLinks.youtube}}' style="cursor:pointer;">
          <img src='../../images/png/youtube_c.png' />
        </a>
        <a href='{{socialLinks.twitter}}' style="cursor:pointer;" >
          <img src='../../images/png/twitter_c.png' />
        </a>
        <a href='{{socialLinks.discord}}'style="cursor:pointer;" >
          <img src='../../images/png/discord_c.png' />
        </a>
      </div>
    </div>
  </div>

</div>

{{/with}}

<script>

  window.onload = () =>{

    let subBtn = document.querySelector("button[subBtn]");
    let sendMessage = document.querySelector("a[sendMessage]");
    let profileId = document.querySelector("div[profileId]").getAttribute('profileId')
    let userId = document.querySelector("div[userId]").getAttribute('userId')

    if(profileId===userId){
      subBtn.remove()
      sendMessage.remove()
    }
  }
</script>