<div class='main-blogs'>
  <div class='main-blog anim' style='--delay: .1s; background-image: url({{bannerImage}}); opacity: 0.4;' >
    <div class="main-blog__title"> </div> 

    <div class='main-blog__author ' style="width: 100%;">
      <div class='author-img__wrapper'>
        <svg
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='3'
          stroke-linecap='round'
          stroke-linejoin='round'
          class='feather feather-check'
        >
          <path d='M20 6L9 17l-5-5'></path>
        </svg>
        <img class='author-img' src='{{profilePic}}' />
      </div>
      <div class='author-detail' >

        <div class='author-name'  >  
         
          {{#if follower}}
           <button class="like green" id="subscribe" action="unsub">  Subscribed</button>         
          {{else}}
           <button class="like red" id="subscribe" action="sub" > Subscribe  </button>         
         {{/if}}
       
        
        <h5> {{this.channelName}} </h5>
     </div>
        <div class='author-info'>{{subscribers.length}}
          subscribers
          <span class='seperate'></span>{{channelViews}}   </div>  
      </div>
    </div>
    <div class='main-blog__time'  >
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Send Message</button>

      <a href='{{socialLinks.instagram}}' style="cursor:pointer;">
        <img src='../../images/png/instagram_c.png' />
      </a>
      <a href='{{socialLinks.facebook}}' style="cursor:pointer;">
        <img src='../../images/png/facebook_c.png' />
      </a>
      <a href='{{socialLinks.youtube}}' style="cursor:pointer;">
        <img src='../../images/png/youtube_c.png' />
      </a>
      <a href='{{socialLinks.twitter}}' style="cursor:pointer;" >
        <img src='../../images/png/twitter_c.png' />
      </a>
      <a href='{{socialLinks.discord}}'style="cursor:pointer;" >
        <img src='../../images/png/discord_c.png' />
      </a>
    </div>
  </div>

</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
<!--Blogs /Posts-->
