
{{#with userProfile}}
<div class="main-blogs">
                    <div class="main-blog anim" style="--delay: .1s">
                        <div class="main-blog__title">How to do Basic Jumping and how to landing safely Channel Description</div>
                        <div class="main-blog__author">
                            <div class="author-img__wrapper">
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                                    <path d="M20 6L9 17l-5-5" />
                                </svg>
                                <img class="author-img"
                                    src="{{profilePic}}" />
                            </div>
                            <div class="author-detail">
                                <div class="author-name">{{firstName}} | {{email}}</div>
                                <div class="author-info">{{subscribers}} subscribers <span class="seperate"></span>{{channelViews}}</div>
                            </div>
                        </div>
                        <div class="main-blog__time">Instagram | Facebook | Youtube | Twitter</div>
                    </div>
                   
                </div> <!--Blogs /Posts-->

{{/with }}