<div class='video-content'>
  <div class='video-content-wrapper anim' style='--delay: .1s'>
    <div class='author-img__wrapper video-author video-p'>
      <svg
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='3'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='feather feather-check'
      >
        <path d='M20 6L9 17l-5-5'></path>
      </svg>

  <img class='author-img' src='{{author.profilePic}}' />
 
    </div>
    <div class='video-channel-detail'>
     <a href="/profile/{{author.channelName}}" style="cursor:pointer;"> <div class='video-p-name'>{{author.channelName}}</div></a> 
      <div class='video-p-sub'>{{averageRating}} ⭐ {{author.subscribers.length}} subscribers</div>
      <div class='video-p-sub'>{{views}} Views</div>
    </div>
    <div>
      <button class="like review review-modal anim">Leave a Review!</button>
    </div>
    <div class='button-wrapper'>
      <button class='like'>
        <svg
          viewBox='0 0 24 24'
          fill='currentColor'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M21.435 2.582a1.933 1.933 0 00-1.93-.503L3.408 6.759a1.92 1.92 0 00-1.384 1.522c-.142.75.355 1.704 1.003 2.102l5.033 3.094a1.304 1.304 0 001.61-.194l5.763-5.799a.734.734 0 011.06 0c.29.292.29.765 0 1.067l-5.773 5.8c-.428.43-.508 1.1-.193 1.62l3.075 5.083c.36.604.98.946 1.66.946.08 0 .17 0 .251-.01.78-.1 1.4-.634 1.63-1.39l4.773-16.075c.21-.685.02-1.43-.48-1.943z'
          ></path>
        </svg>
        Share
      </button>
      <button like-btn class='like'>
        <span like-count>{{likes.length}}</span>
        <svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20'
            stroke='#000000'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </svg>
      </button>
      <button dislike-btn class='like'>
        <span dislike-count>{{dislikes.length}}</span>
        <svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
          <path
            d='M8 14V4M8 14L4 14V4.00002L8 4M8 14L13.1956 20.0615C13.6886 20.6367 14.4642 20.884 15.1992 20.7002L15.2467 20.6883C16.5885 20.3529 17.1929 18.7894 16.4258 17.6387L14 14H18.5604C19.8225 14 20.7691 12.8454 20.5216 11.6078L19.3216 5.60779C19.1346 4.67294 18.3138 4.00002 17.3604 4.00002L8 4'
            stroke='#000000'
            stroke-width='1.5'
            stroke-linecap='round'
            stroke-linejoin='round'
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="reviews-container anim" style='--delay: .2s;'>
    <textarea comment name="comment" cols="15" rows="6" ></textarea>
    <div class="rate">
      <input rating type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input rating type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input rating type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input rating type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input rating type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
  </div>
  <button review-submit-btn type="button" class="like">Submit</button>
    </div>
  <div class='video-info-footer anim'>
    <div class='video-info'>
      <div class='video-p-title' style='--delay: .2s'>{{title}}</div>
      <div class='video-description-wrapper' style='--delay: .3s'>
        <span class='video-description'>{{description}}</span>
      </div>
        <button class='btn btn-outline-success read-more-btn'>Expand</button>

    </div>
    
  </div>
</div>

<script>
  
  const description = document.querySelector('.video-description-wrapper');
  const readMoreBtn = document.querySelector('.read-more-btn');

  readMoreBtn.addEventListener('click', () => {
    description.classList.toggle('text-ellipsis');
    if (description.classList.contains('text-ellipsis')) {
      readMoreBtn.textContent = 'Collapse';
    } else {
      readMoreBtn.textContent = 'Expand';
    }
  })

  const reviewsContainer = document.querySelector('.reviews-container')
  const reviewModalBtn = document.querySelector('.review-modal');

  reviewModalBtn.addEventListener('click', () => {
    reviewsContainer.classList.toggle('expand');
    if (reviewsContainer.classList.contains('expand')) {
      reviewModalBtn.textContent = 'Hide Review';
    } else {
      reviewModalBtn.textContent = 'Leave a Review';
    }
  })
  
  const submitReviewBtn = document.querySelector('button[review-submit-btn]')

  submitReviewBtn.onclick = (e) => {
    const comment = document.querySelector('textarea[comment]').value
    let chosenRating = ratings.filter(rating => rating.checked)
    
    let reviewData = {comment:comment, rating: chosenRating[0].value}
    submitReview(videoId, {reviewData})
    reviewModalBtn.click()
  }
</script>