{{#with video}}
<div class='video-content'>
  <div class='video-content-wrapper anim' style='--delay: .1s'>
    <div class='author-img__wrapper video-author video-p'>
      <svg
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='3'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='feather feather-check'
      >
        <path d='M20 6L9 17l-5-5'></path>
      </svg>

      <img class='author-img' src='{{author.profilePic}}' />
    </div>
    <div class='video-channel-detail'>
      <div class='video-p-name'>{{author.channelName}}</div>
      <div class='video-p-sub'>{{averageRating}} ⭐</div>
      <div class='video-p-sub'>{{author.subscribers.length}} subscribers</div>
      <div class='video-p-sub'>{{views}} Views</div>
    </div>
 {{/with}}

    <div class='button-wrapper'>
      <a href='/profile/{{currentUser._id}}/edit/{{video._id}}'>
        <button class='like'>
          Edit
        </button>
      </a>
      <button class='like'>
        <svg
          viewBox='0 0 24 24'
          fill='currentColor'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            d='M21.435 2.582a1.933 1.933 0 00-1.93-.503L3.408 6.759a1.92 1.92 0 00-1.384 1.522c-.142.75.355 1.704 1.003 2.102l5.033 3.094a1.304 1.304 0 001.61-.194l5.763-5.799a.734.734 0 011.06 0c.29.292.29.765 0 1.067l-5.773 5.8c-.428.43-.508 1.1-.193 1.62l3.075 5.083c.36.604.98.946 1.66.946.08 0 .17 0 .251-.01.78-.1 1.4-.634 1.63-1.39l4.773-16.075c.21-.685.02-1.43-.48-1.943z'
          ></path>
        </svg>
        Share
      </button>
      
      
    </div>
  </div>
  <div class="reviews-container anim" style='--delay: .2s'>
    <textarea comment name="comment" cols="15" rows="6"></textarea>
    <div class="rate">
      <input rating type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input rating type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input rating type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input rating type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input rating type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
  </div>
  <button review-submit-btn type="button" class="btn btn-success">Submit</button>
    </div>
{{#with video}}

  <div class='video-info-footer anim'>
    <div class='video-info'>
      <div class='video-p-title' style='--delay: .2s'>{{title}}</div>
      <div class='video-description-wrapper' style='--delay: .3s'>
        <span class='video-description'>{{description}}</span>
  
      </div>


    </div>
    
  </div>
</div>
{{/with}}
