{{#with video}}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="video">
            <video class="" videoId="{{_id}}" width="320" height="240" controls>
                <source src="{{url}}" type="video/mp4">
                <source src="{{url}}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="card">
      
            <div class="card-body">

                <div class="input-group mb-3">
                    <span class="input-group-text">Title: </span>
                    <input type="text" class="form-control" name="title" value="{{title}}">
                </div>
               <div class="input-group mb-3">
                    <span class="input-group-text">Description: </span>
                    <textarea class="form-control" name="description">{{description}}</textarea>
                </div>
               
                <p views class="card-text">Views: {{views}}</p>
                <p class="card-text"><small class="text-muted">Uploaded on: {{createdAt}}</small></p>

                     
                <div class="tags">
                <p>Add/Remove Tags</p>
                <input type="text" class="form-control" name="new-tags" placeholder="Add new tags here">
                


                {{#each tags}}
                    <button tag class="btn btn-light">

                        <small class="text-muted tag">#{{this}}</small>
                    </button>
                    
                {{/each}}
                </div>
            </div>
        </div>
        <h6>Reviews:</h6>
        {{#each reviews}}
        <p class="card-text"><small class="text-muted">{{this}}</small></p>
        {{/each}}
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">recipe</h5>
                {{#each recipe}}
                <p class="card-text"><small class="text-muted">{{this}}</small></p>
                {{/each}}
            </div>
        </div>
    </div>





</div>

{{/with }}


