{{#with video}}

<div class="">
       
       <div class="video-wrapper">
             <video class="" videoId="{{_id}}" height="480" controls>
                <source src="{{url}}" type="video/mp4">
                <source src="{{url}}" type="video/ogg">
                Your browser does not support the video tag.
            </video>
       </div>
    <div class="">
        <div class="">
            <div class="author-img__wrapper video-author">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3"
                     stroke-linecap="round" stroke-linejoin="round" class="feather feather-check">
                    <path d="M20 6L9 17l-5-5" />
                    </svg>
                <img class="author-img"
                    src="{{author.profilePic}}" />
            </div>
            <div class="">
                <h2 class="">{{title}}</h2>
                <p class="">{{description}}</p>
                <p views class="">{{views}}</p>
                <p class=""><small class="">{{createdAt}}</small></p>
                {{#each tags}}
                <small class="">#{{this}}</small>
                {{/each}}
            </div>
        </div>
        <h6>Reviews:</h6>
        {{#each reviews}}
        <p class="card-text"><small class="text-muted">{{this}}</small></p>
        {{/each}}
    </div>

    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">recipe</h5>
                {{#each recipe}}
                <p class="card-text"><small class="text-muted">{{this}}</small></p>
                {{/each}}
            </div>
        </div>
    </div>





</div>

{{/with }}


<script>


window.onload = () => { 
    
    const video = document.querySelector('video[videoId]') 
    
    video.addEventListener('play', function() {
        video.hasSentViewCount = false
    })

    video.addEventListener('timeupdate', () =>{ 

        let videoId = video.getAttribute('videoId')

        if(video.currentTime >=5 && !video.hasSentViewCount){
            axios.post(`/video/${videoId}/update`, {views:1}, {
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
                }          
            })
            .then((response) => {
               console.log('RES:',response);
            })
            .catch(function (error) {
                console.log('ERROR',error);
            });
        
            video.hasSentViewCount = true
        }
    
    })  
  }
</script>
