<div class="card-group">
   {{#each video}}
     <div class="card">
    <img src="{{url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <small class="text-muted">{{views}} views</small>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{createdAt}}</small>
    </div>
  </div>
    {{/each}}
</div>