
<div class="videos">
  <!-- a video starts -->
  {{#each video}}
    <div class="video">
      <div class="thumbnail">
       <a href="/watch/{{_id}}"> 
         <video  width="270"  width="100" >
       <!--   <source src="{{url}}" type="video/mp4"> -->
    
        <img id="thumbnail" url="{{url}}"> 
        </video>
       
       </a>
      </div>

      <div class="details">
        <div class="author">
          <img
            src="../../images/icons/account.png"
            alt="" />
        </div>
        <div class="title">   <h3> {{title}}   </h3>
          <a href=""> {{owner}} </a>
          <span> {{views}} Views • 3 {{createdAt}} </span>
        </div>
      </div>
  </div>
  {{/each}}
</div>

<script>
  window.onload = () => { 
    /*const videoTag = document.querySelectorAll('video[videoId]') 
    videoTag.forEach(video =>{
       video.addEventListener('play', function() {
        video.hasSentViewCount = false
        })
      video.addEventListener('timeupdate', () =>{ 
        let videoId = video.getAttribute('videoId')
        if(video.currentTime >=5 && !video.hasSentViewCount){

          {{!-- updateViewCount(videoId) --}}
          video.hasSentViewCount = true
        }

      })
    })  */

 

    
  }


</script>
