
<div class="videos">
  <!-- a video starts -->
  {{#each video}}
    <div class="video">
      <div class="thumbnail">
       <a href="/watch/{{_id}}"> 
        <img id="thumbnail" src="{{thumbnail}}"> 
       </a>
      </div>

      <div class="details">
        <div class="author">
          <img
            src="../../images/icons/account.png"
            alt="" />
        </div>
        <div class="title">   <h3> {{title}}   </h3>
          <a href=""> {{author}} </a>
          <span> {{views}} Views • 3 {{createdAt}} </span>
        </div>
      </div>
  </div>
  {{/each}}
</div>
