{{! My Videos }}
<div class='horizontal-video-list'>
  <h3>My Videos</h3>
  <div class='profile-videos-list'>

    {{#each videos}}
      <div class='video'>
        <div class='thumbnail'>
          <a href='/watch/{{_id}}'>
              <img id='thumbnail' src='{{thumbnail}}' />
            {{!-- <video width='270' width='100'> --}}
              <!--   <source src="{{url}}" type="video/mp4"> -->
            {{!-- </video> --}}

          </a>
        </div>

        <div class='details'>
          <div class='author'>
            <img src='../../images/icons/account.png' alt='' />
          </div>
          <div class='title'>
            <h3> {{title}} </h3>
            <a href=''> {{author}} </a>
            <span> {{views}} Views • 3 {{createdAt}} </span>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

</div>